/* createBlog.module.css */
.all-unset {
  all: unset;
}

/* .all-unset  */

.w-new {
  width: 90%;
}

.p-left {
  padding-left: 20px;
}

.send {
  background-color: black;
  width: 100px;
  margin-bottom: 30px;
  margin-right: 50px;
}

.input-field {
  margin-left: 20px;
}

.topic {
  margin-left: 10px;
}

.result-div {
  height: 400px;
  
}